@import "../../base/animations";
@import "../../abstracts/mixins";

.login {
    min-height: 100vh;
    background-image: linear-gradient(
        76deg,
        RGBA(var(--color-main-2)),
        RGBA(var(--color-primary-dark)) 55%,
        white 55%
    );
    // filter: blur(8px);
    transition: filter 1s linear;

    @include respond(tab-port) {
        background-image: none;
    }
}

.login-section {
    min-height: 70vh;
    padding-bottom: 1rem;

    @include respond(tab-port) {
        min-height: 50vh;
    }
}

.loginBox {
    position: relative;
    z-index: 1;
    display: grid;
    // gap: 5rem;

    grid-template-columns: repeat(2, 1fr);

    justify-items: center;

    padding: 17.7rem 0 3.3rem;
    max-width: 105rem;
    // max-height: 80%;

    margin: 10rem auto;
    width: 90vw;

    box-shadow: var(--shadow-dark);

    border-radius: 10px;

    background: #fff;
    overflow: hidden;

    @include respond(tab-port) {
        grid-template-columns: repeat(1, 1fr);
        max-width: 50rem;
        width: 85vw;

        padding: 5rem 0;
    }

    &__illustration {
        display: block;
        margin-left: 5rem;

        @include respond(tab-port) {
            display: none;
        }
    }
}

// Form styling

.loginForm {
    display: flex;
    flex-direction: column;

    &__heading {
        align-self: center;

        background-image: linear-gradient(
            to bottom right,
            RGBA(var(--color-primary-light)),
            RGBA(var(--color-primary-dark))
        );
        background-clip: text;
        color: transparent;

        font-family: "Manrope" sans-serif;
        font-size: 3rem;
        text-transform: none;
        padding-bottom: 5.4rem;

        @include respond(tab-land) {
            background-image: linear-gradient(
                to bottom right,
                RGBA(var(--color-main-1)),
                RGBA(var(--color-main-2))
            );
        }
    }

    &__label {
        position: relative;
    }

    &__input {
        display: block;
        transition: all 0.3s;

        width: 30rem;
        padding: 1.25rem 2rem;
        padding-left: 5rem;
        margin-bottom: 2rem;

        background: white;

        border-radius: 5px;
        border: 1px solid #8080803d;
        // border-bottom: 3px solid transparent;

        font-size: 1.5rem;
        font-family: "Lato", sans-serif;
        color: RGBA(63, 63, 63);
        font-weight: 600;

        &:focus {
            // TODO: Make it better
            // animation: inputEffect 0.3s cubic-bezier(0.27, 0.93, 0.1, 0.89) 1;
            outline: none;
            box-shadow: none;
            // box-shadow: var(--shadow-dark);

            border-bottom: 3px solid RGBA(var(--color-primary-light));
            animation: inputEffect 0.4s ease-in-out 1 forwards;
        }

        &:focus ~ span {
            background-image: linear-gradient(to right, #1a5ef3, #1a5ef3);
            left: 1.7rem;
        }

        &:focus:invalid {
            border-bottom: 3px solid RGBA(204, 0, 0, 1);
        }

        &::-webkit-input-placeholder {
            color: RGBA(var(--color-grey-dark), 0.6);
        }
    }

    &__label {
        position: relative;
    }

    &__forgot,
    &__signup {
        display: flex;
        align-self: center;
        padding-top: 1.5rem;

        transition: all 0.5s;

        font-size: 1.3rem;
        font-weight: lighter;

        font-weight: 300;
        p {
            margin-right: 3px;
            color: #666;
        }

        a {
            &,
            &:link,
            &:visited {
                text-decoration: none;
                color: RGBA(63, 63, 63);
                font-weight: 600;

                &:hover {
                    color: #1a5ef3;
                }
            }
        }
    }

    &__signup {
        a {
            margin-top: 10rem;
            &::after {
                content: "\2192";
            }
        }
    }
}

// Button styling
.loginForm {
    &__btn {
        &,
        &:link,
        &:visited {
            position: relative;
            padding: 1.3rem 0;
            // width: 20rem;
            margin-top: 3rem;
            border: none;
            border-radius: 5px;

            display: inline-block;

            transition: all 0.2s;

            background-color: #1a5ef3;

            // text-transform: uppercase;
            font-size: 1.5rem;
            text-decoration: none;
            text-align: center;
            font-family: inherit;
            font-weight: 700;
            color: #fff;
            cursor: pointer;
        }

        &:active,
        &:focus {
            outline: none;
            transform: translateY(-1px);
            box-shadow: 1px 1px 32px 0 RGBA(41 99 221 / 50%);
        }

        &:hover {
            filter: brightness(1.1);
        }
    }
}

// Logo handling
.loginForm {
    &__emailLogo,
    &__passwordLogo {
        transition: all 0.2s;

        display: block;
        position: absolute;
        top: 1.6rem;
        left: 2.5rem;

        height: 1.8rem;
        width: 1.8rem;

        background-image: linear-gradient(to right, black, black);
        mask-size: cover;
    }

    &__emailLogo {
        height: 1.5rem;
        width: 1.5rem;
        mask-image: url(../../assets/svgs/email.svg);
    }
    &__passwordLogo {
        height: 1.3rem;
        width: 1.3rem;
        mask-image: url(../../assets/svgs/locked.svg);
    }
}

// NOTE: Handle errors
.loginForm {
    &__error {
        position: relative;

        position: absolute;
        top: -3rem;
        left: 2.5rem;

        animation: errorHandlingAnimation 0.3s linear 1;

        font-size: 1.22rem;
        font-weight: bolder;
        color: #e34850;

        &::before {
            content: "";

            position: absolute;
            left: -2.3rem;
            bottom: 2px;

            height: 2rem;
            width: 2rem;

            background-color: #e34850;

            mask-image: url("../../assets/svgs/warning.svg");
            mask-size: cover;
        }
    }
}

// Handling success login message

.success-login {
    position: relative;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 30rem;
    width: 45rem;

    background-color: white;

    box-shadow: var(--shadow-dark);

    border-radius: 2rem;

    transition: all 3s;

    color: RGBA(68, 94, 182);

    font-size: 5rem;

    @media only screen and (max-width: 29em) {
        width: 35rem;
        padding: 0 0rem;
        text-align: center;
    }

    &::before {
        content: "";

        display: block;
        height: 15rem;
        width: 15rem;

        position: absolute;
        top: -7.5rem;
        left: 15rem;

        margin: 0 auto;

        background-image: linear-gradient(
            to right bottom,
            RGBA(var(--color-primary-light)),
            RGBA(var(--color-primary-dark))
        );

        // background-image: url(../../assets/svgs/checked.svg);

        mask-image: url(../../assets/svgs/check-o.svg);
        mask-size: cover;

        animation: loginLogoEffect 0.9s cubic-bezier(0.64, 0.01, 1, 0.03) 1;

        @media only screen and (max-width: 29em) {
            height: 13rem;
            width: 13rem;
            left: 11.5rem;
        }
    }

    // animation: loginStatusEffect 1s ease-in 1;
}

// NOTE: tilted background image

.tilt {
    transition: all 0.5s;

    height: 32rem;
    width: 45rem;

    background-image: url(../../assets/svgs/login.svg);
    background-size: cover;

    &:hover {
        transform: scale(1.1);
    }
}
