@import "../../abstracts/_mixins";

.excursion {
    padding: 0 2rem;
    overflow: "hidden";
}

.excursion-main {
    display: flex;
    // justify-content: center;

    max-width: 140rem;
    margin: 8rem auto;

    &__content {
        display: flex;
        flex-direction: column;
        flex: 1;

        @include respond(tab-port) {
            display: block;
        }
    }

    @include respond(tab-land) {
        max-width: 100rem;
    }
}
