@import "../../abstracts/_mixins";

.excursion {
    padding: 0 2rem;
    overflow: "hidden";
}

.excursion-main {
    display: flex;
    justify-content: center;

    max-width: 140rem;
    margin: 0 auto;
    margin-top: 8rem;

    &__content {
        display: flex;
        flex-direction: column;
    }

    @include respond(tab-land) {
        max-width: 100rem;
    }
}
