@keyframes slideFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideFromRight {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideToLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-50%);
    }
}

@keyframes slideToRight {
    0% {
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(50%);
    }
}

// Review animation changing

@keyframes reviewSlideRight {
    0% {
        transform: translateX(0);
    }
    50% {
        opacity: 0;
        transform: translateX(100%);
    }
    51% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

// Text Rotating Componants Animations

@keyframes slideFromBottom {
    0% {
        // opacity: 0;
        transform: translateY(120%);
    }
    100% {
        // opacity: 1;
        transform: translateY(20%);
    }
}
@keyframes slideToTop {
    100% {
        transform: translateY(-100%);
    }
}

@keyframes rotationAnimation {
    0% {
        transform: translateY(100%);
    }
    25% {
        transform: translateY(0);
    }
    90% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

// Input animations
// TODO: Make it better
@keyframes inputEffect {
    // 0% {
    //     box-shadow: 0rem 0rem 1rem #1a5ef3;
    // }
    0% {
        box-shadow: 0 0 0 0 rgba(#1a5ff3, 50%);
    }

    100% {
        box-shadow: 0 0 0 2rem rgba(#1a5ff3, 0%);
    }
}

// Login status

@keyframes loginStatusEffect {
    0% {
        // transform: translate(-50%, -50%);
        transform: translate(-50%, -300%);
        opacity: 0.5;
    }
    100% {
        transform: translate(-50%, -50%);
        // transform: translate(-50%, -50%);
    }
}

@keyframes invertEffect {
    50% {
        filter: blur(2rem);
    }
    100% {
        filter: blur(2rem);
    }
}

@keyframes loginLogoEffect {
    0% {
        transform: translateY(-500%);
        // opacity: 0;
        // filter: invert(70%);
    }
    100% {
        transform: translateY(0);
    }
}

// signup Status

@keyframes signupStatusEffect {
    0% {
        // transform: translate(-50%, -50%);
        transform: translate(-50%, -300%);
        // opacity: 0.5;
    }
    100% {
        transform: translate(-50%, -50%);
        // transform: translate(-50%, -50%);
    }
}

// account svg animation

@keyframes blueSvgAnimation {
    0% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

// Success message

@keyframes successMsgAnimation {
    0% {
        transform: translateX(-40%);
    }
    100% {
        transform: translateX(0);
    }
}

// Error handling animation

@keyframes errorHandlingAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
