@import "../../abstracts/_mixins";

.footer {
    display: block;
    background-image: linear-gradient(76deg, #020f1f, #0f0d2e);

    padding: 0 5rem;

    @include respond(tab-port) {
        padding: 0 3rem;
    }

    // height: 50rem;

    &__logobox {
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 10rem 0;
    }
    &__logo {
        height: 15rem;
        width: 15rem;

        // background-image: linear-gradient(
        //     to bottom left,
        //     RGBA(var(--color-primary-light)) 10%,
        //     RGBA(var(--color-primary-dark)) 90%
        // );
        background-color: white;
        mask-image: url("../../assets/img/home/mountain.png");
        mask-size: cover;
    }

    &__logo-heading {
        // background-image: linear-gradient(
        //     to bottom left,
        //     RGBA(var(--color-primary-light)),
        //     RGBA(var(--color-primary-light))
        // );

        margin-top: -2rem;

        background-color: white;
        -webkit-background-clip: text;
        color: transparent;

        font-size: 3rem;
        letter-spacing: 0.2rem;
    }

    &__content {
        display: flex;
        // justify-content: space-around;

        padding-bottom: 8rem;

        color: white;
        font-size: 1.6rem;

        @include respond(tab-port) {
            display: grid;
            grid-template-rows: repeat(3, 1fr);

            justify-items: center;
            gap: 5rem;

            max-width: 50rem;
            margin: 0 auto;
        }
    }

    &__navigation {
        display: inline-block;

        margin-right: 21rem;
        padding-top: 2rem;

        border-top: 1px solid RGBA(var(--color-grey-dark));
        text-align: center;

        @include respond(tab-land) {
            margin-right: 10rem;
        }

        @include respond(tab-port) {
            margin-right: 0;
        }
    }

    &__btn {
        &,
        &:link,
        &:visited {
            display: inline-block;

            transition: all 0.2s;

            // margin-top: 5rem;
            &:not(:last-child) {
                margin-right: 3rem;
            }

            color: RGBA(var(--color-grey-light-1));
            // background-color: #020f1f;

            text-decoration: none;
            text-transform: uppercase;
        }

        &:hover,
        &:active {
            color: RGBA(var(--color-primary-light));
            box-shadow: 0 1rem 2rem RGBA(var(--color-black), 0.9);
            transform: rotate(5deg) scale(1.3);
        }
    }

    &__copyright {
        border-top: 1px solid RGBA(var(--color-grey-dark));
        padding-top: 2rem;
        margin-right: 10rem;
        text-align: center;

        @include respond(tab-port) {
            margin-right: 0;
        }
    }

    &__media {
        display: flex;
        padding-top: 2rem;

        border-top: 1px solid RGBA(var(--color-grey-dark));

        &--1,
        &--2,
        &--3,
        &--4,
        &--5 {
            &:link,
            &:visited {
                transition: all 0.2s;

                height: 2.2rem;
                width: 2.2rem;
                &:not(:last-child) {
                    margin-right: 2rem;
                }
            }

            &:hover,
            &:active {
                color: RGBA(var(--color-primary-light));
                box-shadow: 0 1rem 2rem RGBA(var(--color-black), 0.9);
                transform: rotate(5deg) scale(1.3);
            }
        }
        // NOTE: https://www.iconfinder.com
        &--1 {
            background-color: white;
            // background-image: RGBA(var(--color-gold), 1);

            mask-image: url("../../assets/svgs/twitter-framed.svg");
            mask-size: cover;
        }
        &--2 {
            background-color: white;
            // background-image: RGBA(var(--color-gold), 1);

            mask-image: url("../../assets/svgs/github.svg");
            mask-size: cover;
        }
        &--3 {
            background-color: white;
            // background-image: RGBA(var(--color-gold), 1);

            mask-image: url("../../assets/svgs/facebook-framed.svg");
            mask-size: cover;
        }
        // NOTE: https://www.flaticon.com
        &--4 {
            background-color: white;
            // background-image: RGBA(var(--color-gold), 1);

            mask-image: url("../../assets/svgs/linkedin.svg");
            mask-size: cover;

            // background-image: url("../../assets/svgs/linkedin.svg");
        }
        &--5 {
            background-color: white;
            // background-image: RGBA(var(--color-gold), 1);

            mask-image: url("../../assets/svgs/instagram-logo.svg");
            mask-size: cover;
        }
    }
}
