@import "../../../abstracts/variables.scss";

@font-face {
    font-family: Lato;
    src: url("../../../assets/fonts/Lato-Regular.ttf");
}

.bookings {
    position: relative;

    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 10rem;
    justify-items: center;

    padding: 10rem 5rem 0 10rem;
    width: 100%;

    overflow-y: scroll;
    overflow-x: hidden;

    &__header {
        height: 15rem;
        grid-area: 1/1/1/3;
    }

    &__container {
        position: relative;

        perspective: 150rem;
        -moz-perspective: 150rem;
        height: 100%;
        width: 90%;

        animation: slideFromLeft 0.3s ease-in 1;

        font-family: "Lato", sans-serif;

        // cursor: pointer;

        &:hover .bookings__side--front {
            transform: rotateY(-180deg);
        }

        &:hover .bookings__side--back {
            transform: rotateY(0);
        }
    }

    &__side {
        position: relative;

        height: auto;
        width: 85%;

        transition: all 0.8s ease;
        // position: absolute;
        // top: 0;
        // left: 0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 3rem;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem RGBA(var(--color-black), 0.15);

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg);
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;

            background-image: linear-gradient(
                to right bottom,
                RGBA(var(--color-main-1), 0.9),
                RGBA(var(--color-primary-dark), 0.9)
            );
        }
    }

    // FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: 22.7rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    }

    &__heading {
        position: absolute;
        top: 12rem;
        right: 1rem;

        width: 63.8%;

        font-size: 2.7rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        background-image: linear-gradient(
            to right bottom,
            RGBA(var(--color-primary-light), 0.85),
            RGBA(var(--color-primary-dark), 0.85)
        );
    }

    // Details styling

    &__details {
        padding: 0 1.7rem 2rem 1.7rem;
    }

    &__list {
        list-style: none;
        width: 80%;
        margin: 0 auto;

        li {
            text-align: center;
            font-family: "Open Sans", sans-serif;

            font-size: 1.5rem;
            font-weight: 600;
            padding: 0.85rem;

            color: RGBA(var(--color-main-2), 0.8);

            &:not(:last-child) {
                border-bottom: 1px solid $color-grey-light-2;
            }
        }
    }

    // Review stars styling

    // BACK SIDE STYLING
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    &__price-box {
        text-align: center;
        color: $color-white;
        margin-bottom: 8rem;
    }

    &__price-only {
        font-size: 1.8rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 8rem;
        font-weight: 100;
    }

    &__btn {
        font-size: 1.4rem !important;
        padding: 2.5rem 3.5rem !important;
    }

    &::-webkit-scrollbar {
        width: 6px;
        border-radius: 8rem;
    }

    &::-webkit-scrollbar-track {
        background-color: #fff;
    }

    &::-webkit-scrollbar-thumb {
        //#226f91;
        //  -webkit-border-radius: 10px;
        //  border-radius: 10px;
        background-color: RGBA(var(--color-blue-special));
        box-shadow: inset 0 0 6px RGBA(0, 0, 0, 0.5);
        border-radius: 8rem;
    }

    &::-webkit-scrollbar-thumb:window-inactive {
        background-color: RGBA(var(--color-blue-special));
    }
}

// Review star styling

.starbox {
    display: flex;
    align-items: center;
    justify-content: center;

    &__review {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        padding: 1rem;

        color: RGBA(var(--color-main-2), 0.8);
    }

    &__star {
        height: 2.3rem;
        width: 2.3rem;

        //     background-image: linear-gradient(
        //         to right,
        //         RGBA(var(--color-primary-light), 0.8) 80%,
        //         RGBA(var(--color-primary-dark), 0.1) 20%
        //     );
        mask-image: url("../../../assets/svgs/star-review.svg");
        mask-size: cover;
        mask-repeat: no-repeat;
        //     // background-image: url(../../assets/svgs/star.svg);
        //     // fill: blue;
    }
}

.bookings__reviewed {
    display: block;

    position: absolute;
    bottom: 2rem;
    right: 2rem;

    height: 2.5rem;
    width: 2.5rem;

    background-image: linear-gradient(
        76deg,
        RGBA(var(--color-primary-light)),
        RGBA(var(--color-primary-dark))
    );

    mask-image: url("../../../assets/svgs/check-circle.svg");
    mask-size: cover;
    mask-position: center;
}
