@import "../../base/_animations.scss";
@import "../../abstracts/mixins";

@font-face {
    font-family: Manrope;
    src: url("../../assets/fonts/Manrope-ExtraLight.ttf");
}

.signup {
    background-size: cover;
}

.signup-heading {
    max-width: 120rem;
    width: 90vw;
    margin: 2rem auto 10rem;

    background-image: linear-gradient(
        to bottom right,
        RGBA(var(--color-primary-light)),
        RGBA(var(--color-primary-dark))
    );
    background-clip: text;
    color: transparent;

    font-family: "Manrope", sans-serif;
    font-size: 4.8rem;
    font-weight: 700;
    text-align: center;

    @include respond(tab-port) {
        max-width: 55rem;
    }
}

.signup-main {
    display: grid;
    grid-template-columns: repeat(20, 1fr);

    max-width: 130rem;
    width: 92vw;

    margin: 0 auto 10rem;

    @include respond(tab-port) {
        display: block;
        width: 88vw;
    }
}

.signup-illustration {
    grid-area: 1/11/2/-1;

    display: block;

    width: 100%;

    justify-self: center;

    background-image: url("../../assets/svgs/exploring.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @media only screen and (max-width: 64em) {
        width: 92%;
        justify-self: end;
    }
    @include respond(tab-port) {
        display: none;
    }
}

// FORM

.signupForm {
    grid-area: 1/1/2 / span 9;

    position: relative;

    min-width: 49rem;

    padding: 4rem;
    padding-top: 3rem;

    border-radius: 3rem;

    background-color: #ffffff;

    box-shadow: 0 2rem 6rem RGBA(0, 0, 0, 0.151);

    @include respond(tab-port) {
        margin: 0 auto;
        max-width: 55rem;
        min-width: 0;
    }

    &__heading {
        background-image: linear-gradient(
            to bottom right,
            RGBA(var(--color-primary-light)),
            RGBA(var(--color-primary-dark))
        );
        background-clip: text;
        color: transparent;

        font-family: "Manrope" sans-serif;
        font-size: 3.2rem;
        text-transform: none;
    }

    &__illustration {
        position: absolute;
        top: -8rem;
        right: 3rem;

        height: 15rem;
        width: 23rem;

        padding: 1rem;
        box-shadow: var(--shadow-dark);
        border-radius: 3rem;

        background-image: url("../../assets/svgs/camping.svg");
        background-size: cover;

        @include respond(phone) {
            height: 12rem;
            width: 19rem;
        }
    }

    &__name-email {
        position: relative;

        display: grid;
        grid-template-areas:
            "name email"
            "input-name input-email";
        grid-template-columns: 35% 60%;
        justify-content: space-between;

        @include respond(phone) {
            grid-template-areas:
                "name"
                "input-name"
                "email"
                "input-email";
            grid-template-columns: 100%;
        }
    }

    &__input {
        display: block;
        transition: all 0.2s;

        width: 100%;
        padding: 1.25rem 2rem;
        margin-bottom: 2rem;

        // background-color: #eceff1a4;
        background-color: #e5e5e56b;

        border: none;
        border-bottom: 3px solid transparent;
        border-radius: 5px;

        font-size: 1.7rem;
        font-family: "Lato", sans-serif;
        color: RGBA(var(--color-grey-dark));
        // color: RGBA(var(--color-grey-dark));
        font-weight: 400;

        &:focus {
            outline: none;
            // box-shadow: var(--shadow-dark);
            border-bottom: 3px solid RGBA(var(--color-primary-light));
        }

        &:focus:invalid {
            border-bottom: 3px solid RGBA(204, 0, 0, 1);
        }

        &::-webkit-input-placeholder {
            font-size: 1.7rem;
            color: RGBA(var(--color-grey-dark));
        }

        &--1 {
            grid-area: input-name;
        }
        &--2 {
            grid-area: input-email;
        }
    }

    &__input::placeholder {
        font-size: 1.6rem;
        opacity: 0.5;
    }

    &__label {
        position: relative;
    }

    &__label-text {
        padding: 1rem;
        transition: all 0.3s;

        font-size: 1.3rem;
        font-family: "Lato", sans-serif;
        color: RGBA(var(--color-grey-dark));
        font-weight: 600;

        &--1 {
            grid-area: name;
        }

        &--2 {
            grid-area: email;
        }
    }

    &__login {
        display: flex;
        margin-top: 3rem;
        p {
            margin-right: 3px;
            font-size: 1.2rem;
            font-weight: 300;
        }

        a {
            &,
            &:link,
            &:visited {
                text-decoration: none;
                font-size: 1.1rem;
                color: #1a5ef3;
            }
        }
    }
}

// NOTE: Error handling in form

.signupForm {
    &__error {
        position: relative;
        position: absolute;
        bottom: -0.5rem;
        left: 2.5rem;

        width: max-content;

        animation: errorHandlingAnimation 0.3s linear 1;

        font-size: 1.22rem;
        font-weight: bolder;
        color: #e34850;

        &--password {
            bottom: -7.5rem !important;
            left: 2.5rem !important;
        }

        &::before {
            content: "";

            position: absolute;
            left: -2.3rem;
            bottom: 2px;

            height: 2rem;
            width: 2rem;

            background-color: #e34850;

            mask-image: url("../../assets/svgs/warning.svg");
            mask-size: cover;
        }
    }
}

// Handling success signup message

.success-signup {
    position: relative;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    display: flex;
    flex-direction: column;

    justify-content: center;

    overflow: hidden;

    border-radius: 3rem;

    transition: all 3s;

    width: 50rem;

    // box-shadow: 0 0 10rem white;

    background-color: #2a3887;

    // background-image: linear-gradient(
    //     76deg,
    //     RGBA(var(--color-main-1)),
    //     RGBA(var(--color-main-2))
    // );

    color: white;

    &__bg {
        height: 28rem;
        background-image: url("../../assets/img/home/travel-equipment-900x711.jpg");
        background-size: cover;
    }
}

//NOTE: Buttons handling

.signupForm,
.success-signup {
    // font-family: "Manrope" sans-serif;
    &__btn {
        &,
        &:link,
        &:visited {
            position: relative;

            display: block;

            transition: all 0.2s;

            background-color: #1a5ef3;

            // text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            font-family: inherit;
            font-weight: 700;
            color: #fff;
            cursor: pointer;
        }

        &:active,
        &:focus {
            outline: none;
            transform: translateY(-1px);
            box-shadow: 0 0.5rem 1rem RGBA(var(--color-black), 0.2);
        }

        &:hover {
            filter: brightness(1.1);
        }
    }
}

.signupForm {
    &__btn {
        border: none;
        padding: 1.5rem 2rem;
        width: 20rem;
        margin-top: 4rem;
        border-radius: 5px;
        font-size: 1.3rem;
        &:focus {
            box-shadow: 1px 1px 32px 0 RGBA(41 99 221 / 50%);
        }
    }
}

.success-signup {
    &__btn {
        border: none;
        padding: 1rem 0.1rem;
        width: 15rem;
        margin-top: 3rem;
        border-radius: 8px;
        font-size: 1.65rem;
        margin: 0 auto;
        // margin-bottom: 4rem;
        &:focus {
            box-shadow: 1px 1px 32px 0 RGBA(41 99 221 / 50%);
        }
    }
}
