@mixin buttonColor($firstColor, $secondColor) {
    background: linear-gradient(to bottom right, $firstColor, $secondColor);
    color: $color-white;

    &::after {
        background: linear-gradient(to bottom right, $firstColor, $secondColor);
        background: -webkit-linear-gradient(
            to bottom right,
            $firstColor,
            $secondColor
        );
        background: -o-linear-gradient(
            to bottom right,
            $firstColor,
            $secondColor
        );
    }
}

// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 2000] is where our normal styles apply
2000px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- normal-desktop  
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) {
            @content;
        } //600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) {
            @content;
        } //900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) {
            @content;
        } //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 125em) {
            @content;
        } //2000
    }
}
