@import "../../abstracts/variables";

@font-face {
    font-family: Merriweather;
    src: url("../../assets/fonts/Merriweather-Regular.ttf");

    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

.reviewsBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;

    .arrow-left {
        height: 4rem;
        width: 4rem;
        margin-right: 12rem;

        background-image: linear-gradient(to bottom right, #6981d1, #12107a);
        mask-image: url("../../assets/svgs/big-arrow.svg");
        mask-size: cover;
        transform: rotate(90deg);
    }

    .arrow-right {
        height: 4rem;
        width: 4rem;
        margin-left: 12rem;

        background-image: linear-gradient(to bottom right, #6981d1, #12107a);
        mask-image: url("../../assets/svgs/big-arrow.svg");
        mask-size: cover;
        transform: rotate(-90deg);
    }

    .arrow-left,
    .arrow-right {
        cursor: pointer;
        &:hover {
            background-image: linear-gradient(
                to bottom right,
                #273e88,
                #12107a
            );
        }
    }
}

.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    // align-content: center;
    width: 50%;
    // background-color: rgba(255, 255, 255, 0.6);
    // background-size: 50%;
    // box-shadow: var(--shadow-light);

    &__picture {
        // background-image: linear-gradient(
        //         to right,
        //         rgba(var(--color-primary-light), 0.35),
        //         rgba(var(--color-primary-dark), 0.35)
        //     ),
        //     url(../../assets/img/users/user-8.jpg);
        background-image: linear-gradient(
                to right,
                rgba(rgb(13, 13, 63), 0.35),
                rgba(rgb(11, 11, 59), 0.35)
            ),
            url(../../assets/img/users/user-8.jpg);

        background-size: cover;
        height: 18rem;
        width: 18rem;
        border-radius: 50%;
        margin-bottom: 3.5rem;
    }

    &__text {
        width: 45%;

        margin-bottom: 2rem;

        font-size: 1.6rem;
        font-weight: 600;
        color: $color-grey-dark-3;
    }

    &__name {
        margin-bottom: 1.5rem;

        font-family: "Merriweather", serif;
        font-size: 2rem;
        font-weight: 600;
        color: $color-grey-dark-3;
    }

    .starbox {
        display: flex;
        align-items: center;
        justify-content: center;

        &__review {
            text-align: center;
            font-size: 2rem;
            font-weight: 400;
            padding: 1rem;

            color: $color-grey-dark;
        }

        &__star {
            height: 2.7rem;
            width: 2.7rem;

            //     background-image: linear-gradient(
            //         to right,
            //         rgba(var(--color-primary-light), 0.8) 80%,
            //         rgba(var(--color-primary-dark), 0.1) 20%
            //     );
            mask-image: url("../../assets/svgs/star-review.svg");
            mask-size: cover;
            mask-repeat: no-repeat;
            //     // background-image: url(../../assets/svgs/star.svg);
            //     // fill: blue;
        }
    }

    &--closed {
        display: none;
    }
}
