@import "../../abstracts/variables";
@import "../../abstracts/mixins";

.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        // padding: 1.5rem 4rem;
        display: inline-block;
        // border-radius: 10rem;
        transition: all 0.2s;
        position: relative;
        font-size: 1.4rem;

        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem RGBA(var(--color-black), 0.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem RGBA(var(--color-black), 0.2);
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
        transition: all 0.4s;
    }

    &--router {
        padding: 2.1rem 5rem;
        font-size: 1.1rem;
        font-style: none;
        height: max-content !important;

        &:hover {
            transform: translateY(3px);
            box-shadow: 0 1rem 2rem RGBA(var(--color-black), 0.2);

            &::after {
                transform: scaleX(1.4) scaleY(1.6);
                opacity: 0;
            }
        }

        &::after {
            border-radius: 0;
        }

        &:active,
        &:focus {
            outline: none;
            transform: translateY(1px);
            box-shadow: 0 0.5rem 1rem RGBA(var(--color-black), 0.2);
        }
    }

    &--explo {
        padding: 1.5rem 2rem;
        font-size: 1.1rem;
        font-style: none;
        height: max-content !important;
        border-radius: 0rem;

        &::after {
            border-radius: 0;
        }
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }

    &--green {
        background-color: $color-quaternary;
        color: $color-white;

        &::after {
            background-color: $color-quaternary;
        }
    }

    &--violet {
        background: linear-gradient(119deg, #b224ef 24%, #5055fa 99%);
        // background: -webkit-linear-gradient(119deg, #b224ef 11%, #5055fa 55%);
        //  background: -o-linear-gradient(119deg, #b224ef 11%, #5055fa 55%);

        color: $color-white;

        &::after {
            background: linear-gradient(119deg, #b224ef 11%, #5055fa 55%);
            background: -webkit-linear-gradient(
                119deg,
                #b224ef 11%,
                #5055fa 55%
            );
            background: -o-linear-gradient(119deg, #b224ef 11%, #5055fa 55%);
        }
    }

    &--blue {
        @include buttonColor(#445eb6, #09084b);
    }

    &--gold {
        @include buttonColor(#e0b011, #e0b011);
    }

    &--animated {
        animation: moveInBottom 0.5s ease-out 0.75s;
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-quaternary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-quaternary;
        padding: 3px;
    }

    &:hover {
        background-color: $color-quaternary;
        color: $color-white;
        box-shadow: 0 1rem 2rem RGBA(var(--color-black), 0.15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 0.5rem 1rem RGBA(var(--color-black), 0.15);
        transform: translateY(0);
    }
}
