// TODO: Fine a way to make this scss reusable

.shinybtn {
    &,
    &:link,
    &:visited {
        position: relative;

        display: inline-block;

        transition: all 0.2s;

        margin-top: 10rem;
        padding: 1.5rem 4rem;
        border-radius: 4px;
        border: none;
        box-shadow: 1px 1px 32px 0 rgb(41 99 221 / 50%);

        background-color: #1a5ef3;

        text-transform: uppercase;
        text-decoration: none;
        font-family: "Manrope" sans-serif;
        font-size: 1.4rem;
        font-weight: 700;
        color: #fff;
        cursor: pointer;
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }

    &:hover {
        filter: brightness(1.1);
    }
}
