@import "../../abstracts/_variables";

@font-face {
    font-family: Merriweather;
    src: url("../../assets/fonts/Merriweather-Regular.ttf");

    /* other formats include: 'woff2', 'truetype, 'opentype',
    'embedded-opentype', and 'svg' */
}

@font-face {
    font-family: Lato;
    src: url("../../assets/fonts/Lato-Regular.ttf");
}
@font-face {
    font-family: Manrope;
    src: url("../../assets/fonts/Manrope-VariableFont_wght.ttf");
}

// HEADER

.header {
    position: relative;

    height: 90vh;
    padding: 0 15%;

    background-image: linear-gradient(76deg, #110f2e, #010028 50%);
    // background-size: 100%; // FIXME: Image changing resolution at 100%.
    // background-position: center;
    // background-repeat: no-repeat;

    &__headings {
        position: absolute;
        top: 25%;
        // left: 25%;
        // transform: translateX(-50%);

        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__heading-primary {
        // height: 9rem;
        margin-bottom: 5rem;
        width: 59rem;

        background-color: #fff;
        background-clip: text;
        color: transparent;

        font-family: Manrope, sans-serif;
        font-size: 5.5rem;
        line-height: 72px;
        font-weight: 800;
        -webkit-font-smoothing: antialiased;

        // text-shadow: 1rem 1rem 25rem RGBA(245, 244, 239);
        filter: brightness(1.3);
    }

    &__btn {
        &,
        &:link,
        &:visited {
            position: relative;

            display: inline-block;

            transition: all 0.2s;

            margin-top: 10rem;
            padding: 1.5rem 4rem;
            border-radius: 4px;
            border: none;
            box-shadow: 1px 1px 32px 0 RGBA(41 99 221 / 50%);

            background-color: #1a5ef3;

            // text-transform: uppercase;
            text-decoration: none;
            font-family: Open Sans, sans-serif;
            font-size: 1.4rem;
            font-weight: 700;
            color: #fff;
            cursor: pointer;
        }

        &:active,
        &:focus {
            outline: none;
            transform: translateY(-1px);
            box-shadow: 0 0.5rem 1rem RGBA(var(--color-black), 0.2);
        }

        &:hover {
            filter: brightness(1.1);
        }
    }

    &__globe {
        position: absolute;
        top: 0rem;
        left: 50%;

        background-image: linear-gradient(90deg, #01000a, #04010c 50%);

        height: 100%;
        width: 50%;

        overflow: hidden;

        cursor: grab;
    }

    &__bgimg {
        position: absolute;
        top: 17.2rem;
        right: 10rem;
        height: 36.5vw;
        width: 47vw;
        // margin-top: 10.2rem;
        // margin-left: 57rem;

        background-image: url(../../assets/svgs/adventure-homepage-3.svg);
        background-size: cover;
        // background-position: center;
    }
}

// NavigationBar , part of the header part of reusable

.navBar {
    &--homepage {
        position: relative;
        z-index: 3;
        display: flex;
        align-items: center;
        padding-top: 1rem;
    }

    &__logo,
    &__logo-text {
        &--homepage {
            background-image: linear-gradient(
                to bottom right,
                white,
                white
            ) !important;
        }
    }

    &__btn {
        &--log-out {
            position: relative;
            padding: "0.9rem 3rem";
            &::before {
                content: "";
                position: absolute;
                top: 0.9rem;
                left: 0.9rem;
                display: inline-block;
                height: 2.1rem;
                width: 2.1rem;
                // background-image: linear-gradient(to right, #02effe, #4dadfe);
                background-image: linear-gradient(76deg, #3be5dd, #05edfe);

                mask-image: url(../../assets/svgs/log-out.svg);
                mask-size: cover;
            }
        }
    }
}

// SECTION ABOUT

.section-about {
    position: relative;
    z-index: 5;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "heading heading"
        "text photo";

    padding-bottom: 5rem;

    // height: 50vh;
    // width: calc(100vw-3px); // NOTE: VERY IMPORTANT TO FIX THE HORIZONTAL LAYOUT
    // height: 80vh;

    .heading-about {
        display: inline-block;

        grid-area: heading;
        justify-self: center;

        margin-top: 10rem;
    }

    .aboutbox {
        display: flex;
        flex-direction: column;
        text-align: start;
        grid-area: text;
        justify-self: center;

        width: 50%;
        margin-top: 5rem;

        &__heading-1,
        &__heading-2 {
            background-image: linear-gradient(
                to bottom right,
                #445eb6,
                #09084b
            );
            background-clip: text;
            color: transparent;

            font-size: 1.6rem;
            font-weight: 700;
            text-transform: uppercase;
        }

        &__heading-2 {
            margin-top: 8rem;
        }

        &__text-1,
        &__text-2 {
            margin-top: 1.7rem;

            font-size: 1.6rem;
            color: RGBA(104, 96, 96);
            // color: RGBA(102, 93, 93);
            // color: RGBA(56, 56, 56);
        }

        &__btn {
            display: flex;
            align-items: center;
            margin-top: 5rem;
            margin-bottom: 2rem;
            // height: 5rem !important;
            width: 15rem;

            text-align: center;
        }
    }

    .composition {
        position: relative;

        // display: flex;
        // flex-direction: column;
        // text-align: start;
        grid-area: photo;
        width: 100%;

        &__photo {
            position: absolute;
            z-index: 10;

            transition: all 0.2s;
            width: 45%;

            box-shadow: 0 1.5rem 4rem RGBA(var(--color-black), 0.4);
            border-radius: 2px;
            outline-offset: 2rem;

            &:hover {
                outline: 1.5rem solid #252397;
                transform: scale(1.05) translateY(-0.5rem);
                box-shadow: 0 2.5rem 4rem RGBA(var(--color-black), 0.5);
                z-index: 20;
            }

            &--1 {
                left: 10%;
                top: 4rem;
            }

            &--2 {
                left: 40%;
                top: 10rem;
            }

            &--3 {
                left: 25%;
                top: 25rem;
                z-index: 11;
            }
        }
    }
}

// SECTION FEATURES

.section-features {
    position: relative;
    z-index: 2;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

    // height: 85vh;
    padding: 25rem 0;

    // background-image: url("../../assets/img/tours/tour-1-1.jpg");
    background-image: linear-gradient(to top, transparent, white),
        url("../../assets/img/tours/tour-1-1.jpg");
    background-size: cover;
    background-position: 0% 90%;
}

.features {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 29rem;
    height: 40rem;
    margin-top: -10rem;

    background-color: RGBA(var(--color-white), 0.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem RGBA(var(--color-black), 0.15);
    transition: transform 0.3s;

    cursor: pointer;

    &__icon {
        display: inline-block;
        height: 7.5rem;
        width: 7.5rem;

        &--1 {
            width: 9.7rem !important;

            background-image: linear-gradient(
                to bottom right,
                #6981d1,
                #12107a
            );
            mask-image: url("../../assets/svgs/map.svg");
            mask-size: cover;
        }
        &--2 {
            background-image: linear-gradient(
                to bottom right,
                #6981d1,
                #12107a
            );
            mask-image: url("../../assets/svgs/global.svg");
            mask-size: cover;
        }
        &--3 {
            background-image: linear-gradient(
                to bottom right,
                #6981d1,
                #12107a
            );
            mask-image: url("../../assets/svgs/compass.svg");
            mask-size: cover;
        }
        &--4 {
            background-image: linear-gradient(
                to bottom right,
                #6981d1,
                #12107a
            );
            mask-image: url("../../assets/svgs/twitter.svg");
            mask-size: cover;
        }
    }

    &__heading {
        font-size: 1.6rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__text {
        margin-top: -2.5rem;
        font-size: 1.5rem;
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }
}

// SECTION EXCURSIONS

.section-excursions {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;

    // height: 130vh;
    margin-top: -28vh;
    padding: 10rem 0;

    // background-image: url(../../assets/img/tours/tour-9-cover.jpg);
    // background-size: cover;

    // background-color: var(--color-white);
    background-color: RGBA(255, 255, 255);

    .heading-tours {
        margin-top: 25rem;
    }

    .cardbox {
        display: grid;
    }

    .excursion-btn {
        margin-top: 10rem;
        border-radius: 10rem !important;
        padding: 2.1rem 4rem !important;

        &::after {
            border-radius: 10rem !important;
        }
    }
}

.section-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 5rem;

    background-image: url("../../assets/img/home/mads-schmidt-rasmussen-6YmzwamGzCg-unsplash.jpg");
    background-size: cover;
    background-position: 0 60.5%;
    background-repeat: no-repeat;

    // height: 75vh;
}

// SECTION RESERVATION

.section-reservation {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15rem 0;

    background-image: linear-gradient(
        to right bottom,
        RGBA(var(--color-primary-light), 0.95),
        RGBA(var(--color-primary-dark), 0.95)
    );
}

// .globe {
//     height: 100vh;
//     background-color: RGBA(black, 0);
// }

// .webgl {
//     position: absolute;
//     top: 0;
//     left: 0;
//     outline: none;

//     mix-blend-mode: exclusion;
// }
