@import "../src/abstracts/mixins";

:root {
    // See abstract file "_variables.scss" for true colors

    --color-primary-light: 68, 94, 182;
    --color-primary-dark: 9, 8, 75;

    --color-main-1: 2, 15, 31;
    --color-main-2: 15, 13, 46;

    --color-secondary-light: 255, 185, 0;
    --color-secondary-dark: 255, 119, 48;

    --color-tertiary-light: 41, 152, 255;
    --color-tertiary-dark: 86, 67, 250;

    --color-quaternary: 85, 197, 122;
    --color-quaternary-light: 126, 213, 111;
    --color-quaternary-dark: 40, 180, 133;

    --color-grey-light-1: 247, 247, 247;
    --color-grey-light-2: 238, 238, 238;

    --color-grey-dark: 119, 119, 119;
    --color-grey-dark-2: 153, 153, 153;
    --color-grey-dark-3: 51, 51, 51;

    --color-green-special: 59, 229, 221;
    --color-blue-special: 26, 94, 243;

    --color-gold: 224, 176, 17;

    --color-white: 255, 255, 255;
    --color-black: 0, 0, 0;

    --shadow-dark: 0 2rem 6rem RGBA(0, 0, 0, 0.3);
    --shadow-light: 0 2rem 5rem RGBA(0, 0, 0, 0.6);

    // height: 100vh !important;
    // overflow-x: auto !important;

    --excursion-clip-height: 9vw;
    --excursion-review-box-width-1: 27vw;
    --excursion-review-box-width-2: 42vw;
    --excursion-review-box-width-3: 80vw;
    --excursion-review-box-margin: 2.6vw;
    --excursion-review-box-margin-3: 6vw;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px

    @include respond(tab-land) {
        // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) {
        // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }

    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    line-height: 1.6;

    box-sizing: border-box;

    &::-webkit-scrollbar {
        width: 6px;
        border-radius: 8rem;
    }

    &::-webkit-scrollbar-track {
        background-color: #fff;
    }

    &::-webkit-scrollbar-thumb {
        //#226f91;
        //  -webkit-border-radius: 10px;
        //  border-radius: 10px;
        background-color: RGBA(var(--color-blue-special));
        box-shadow: inset 0 0 6px RGBA(0, 0, 0, 0.5);
        border-radius: 8rem;
    }

    &::-webkit-scrollbar-thumb:window-inactive {
        background-color: RGBA(var(--color-blue-special));
    }

    // -webkit-font-smoothing: antialiased;
}

body,
html {
    margin: 0;
    padding: 0;
}
