@import "../../abstracts/_variables.scss";

@font-face {
    font-family: Lato;
    src: url("../../assets/fonts/Lato-Regular.ttf");
}

.cardbox {
    position: relative;

    display: grid;

    // grid-auto-flow: row dense;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 41rem);
    gap: 10rem;

    height: 62rem;
    margin-top: 10rem;
    // background-color: red;

    &__container {
        position: relative;

        perspective: 150rem;
        -moz-perspective: 150rem;
        height: 100%;
        // width: 80%;

        font-family: "Lato", sans-serif;

        // cursor: pointer;

        &:hover .cardbox__side--front {
            transform: rotateY(-180deg);
        }

        &:hover .cardbox__side--back {
            transform: rotateY(0);
        }
    }

    &__side {
        height: 100%;
        width: 100%;

        transition: all 0.8s ease;
        // position: absolute;
        // top: 0;
        // left: 0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba(var(--color-black), 0.15);

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg);
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;

            background-image: linear-gradient(
                to right bottom,
                rgba(var(--color-primary-light), 0.9),
                rgba(var(--color-primary-dark), 0.9)
            );
        }
    }

    // FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: 29rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    &__heading {
        font-size: 4rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        position: absolute;
        top: 15rem;
        right: 2rem;
        width: 75%;
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        background-image: linear-gradient(
            to right bottom,
            rgba(var(--color-primary-light), 0.85),
            rgba(var(--color-primary-dark), 0.85)
        );
    }

    // Details styling

    &__details {
        padding: 3rem;
    }

    &__list {
        list-style: none;
        width: 80%;
        margin: 0 auto;

        li {
            text-align: center;
            font-size: 2rem;
            font-weight: 400;
            padding: 1rem;

            color: $color-grey-dark;

            &:not(:last-child) {
                border-bottom: 1px solid $color-grey-light-2;
            }
        }
    }

    // Review stars styling
    .starbox {
        display: flex;
        align-items: center;
        justify-content: center;

        &__review {
            text-align: center;
            font-size: 2rem;
            font-weight: 400;
            padding: 1rem;

            color: $color-grey-dark;
        }

        &__star {
            height: 2.7rem;
            width: 2.7rem;

            //     background-image: linear-gradient(
            //         to right,
            //         rgba(var(--color-primary-light), 0.8) 80%,
            //         rgba(var(--color-primary-dark), 0.1) 20%
            //     );
            mask-image: url("../../assets/svgs/star-review.svg");
            mask-size: cover;
            mask-repeat: no-repeat;
            //     // background-image: url(../../assets/svgs/star.svg);
            //     // fill: blue;
        }
    }

    // BACK SIDE STYLING
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    &__price-box {
        text-align: center;
        color: $color-white;
        margin-bottom: 8rem;
    }

    &__price-only {
        font-size: 1.8rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 8rem;
        font-weight: 100;
    }

    &__btn {
        font-size: 1.4rem !important;
        padding: 2.5rem 3.5rem !important;
    }
}
