@import "../../../abstracts/_mixins";

.excursion-filter {
    display: flex;
    flex-direction: column;

    margin-right: 5rem;
    height: max-content;

    border-radius: 4px;
    box-shadow: 0px 0px 2rem rgb(0 0 0 / 20%);
    color: rgb(41, 43, 46);
    // border: 1px solid rgb(229, 229, 229);

    @include respond(tab-land) {
        position: fixed;
        z-index: 50;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background-color: white;

        height: 85%;
        width: 35rem;
    }

    &__content {
        @include respond(tab-land) {
            position: relative;
            height: 80%;

            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 6px;
                border-radius: 8rem;
            }

            &::-webkit-scrollbar-track {
                background-color: #fff;
            }

            &::-webkit-scrollbar-thumb {
                //#226f91;
                //  -webkit-border-radius: 10px;
                //  border-radius: 10px;
                background-color: RGBA(var(--color-blue-special));
                box-shadow: inset 0 0 6px RGBA(0, 0, 0, 0.5);
                border-radius: 8rem;
            }

            &::-webkit-scrollbar-thumb:window-inactive {
                background-color: RGBA(var(--color-blue-special));
            }
        }
    }

    &__title {
        margin-right: auto;

        font-size: 2.8rem;
    }

    &__close {
        transition: transform 0.2s;

        height: 2rem;
        width: 2rem;

        fill: rgba(var(--color-primary-dark), 1);

        cursor: pointer;

        &:hover {
            transform: scale(1.2);
        }
    }

    &__utilities {
        display: flex;
        padding: 2.5rem;
        border-top: 1px solid rgb(206, 203, 203);

        a {
            &:first-of-type,
            &:nth-child(2) {
                filter: none;
                padding-right: 2rem;
                padding-left: 2rem;
            }
            &:first-of-type {
                margin-left: auto;
                box-shadow: none;

                background-color: white;
                color: black;
                border: 1px solid rgba(var(--color-primary-dark), 1);
            }
            &:nth-child(2) {
                background-color: rgba(var(--color-primary-dark), 1);
            }
        }
    }
}

.brightness {
    &:hover {
        filter: brightness(1.2);
    }
}
