.excursion-information {
    position: relative;

    z-index: 4;

    display: flex;

    margin-top: calc(0px - var(--excursion-clip-height));

    clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - (var(--excursion-clip-height))),
        0 100%
    );

    & > * {
        padding: 0 8vw;
        padding-top: 14vw;
        padding-bottom: calc(1vw + var(--excursion-clip-height));
    }
}

.excursion-pictures {
    position: relative;

    z-index: 4;

    display: flex;

    margin-top: calc(0px - var(--excursion-clip-height));

    clip-path: polygon(
        0 (var(--excursion-clip-height)),
        100% 0,
        100% calc(100% - (var(--excursion-clip-height))),
        0 100%
    );

    filter: brightness(85%);
}

.excursion-map {
    position: relative;

    z-index: 4;

    display: flex;

    margin-top: calc(0px - var(--excursion-clip-height));

    clip-path: polygon(
        0 (var(--excursion-clip-height)),
        100% 0,
        100% calc(100% - (var(--excursion-clip-height))),
        0 100%
    );

    // background-color: RGBA(247, 241, 241);

    // filter: brightness(85%);

    // overflow: hidden;
}

.excursion-reviews {
    position: relative;

    z-index: 3;

    display: flex;

    // height: 40vw;

    margin-top: calc(0px - var(--excursion-clip-height));

    background-image: linear-gradient(
        76deg,
        RGBA(var(--color-primary-dark), 0.02),
        RGBA(var(--color-primary-dark), 0.02)
    );

    clip-path: polygon(
        0 (var(--excursion-clip-height)),
        100% 0,
        100% calc(100% - (var(--excursion-clip-height))),
        0 100%
    );

    &:before {
        content: "";

        position: absolute;
        top: 0;
        left: 0;

        z-index: 1;

        display: block;

        height: 100%;
        width: 100%;

        background-image: linear-gradient(
            76deg,
            RGBA(var(--color-primary-dark)),
            RGBA(var(--color-primary-dark))
        );

        opacity: 0.03;

        mask-image: url("../../assets/img/home/bg.png");
        mask-size: cover;
        mask-repeat: no-repeat;
    }
}

.excursion-booking {
    position: relative;

    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    // height: 40vw;

    margin-top: calc(0px - var(--excursion-clip-height));

    clip-path: polygon(
        0 (var(--excursion-clip-height)),
        100% 0,
        100% 100%,
        0 100%
    );

    // background-color: red;

    // filter: brightness(85%);

    // overflow: hidden;
}
